SampleInstanceP/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "SampleInstanceP"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"AzureDatabricks2_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks2'"
		},
		"AzureDatabricksDeltaLake1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricksDeltaLake1'"
		},
		"BlobStorage_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'BlobStorage'"
		},
		"SF_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SF'"
		},
		"Snowflake1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Snowflake1'"
		},
		"Snowflake2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'Snowflake2'"
		},
		"AzureBlobStorage1_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'AzureBlobStorage1'"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0312-064506-zp6p1lu7"
		},
		"AzureDatabricks2_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0312-064506-zp6p1lu7"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://SampleKeyVaultP.vault.azure.net/"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://SampleKeyVaultP.vault.azure.net/"
		},
		"SF_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "@{linkedService().Database}"
		},
		"Snowflake1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "snowflake_sample_data"
		},
		"Snowflake2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "Sample"
		},
		"trigger1_properties_pipeline3_parameters_Filename": {
			"type": "string",
			"defaultValue": "/mnt/FirstCSV"
		},
		"trigger1_properties_pipeline3_parameters_snowflakeurl": {
			"type": "string",
			"defaultValue": "https://pxdbery-lz43792.snowflakecomputing.com"
		},
		"trigger1_properties_pipeline3_parameters_snowflakedatabse": {
			"type": "string",
			"defaultValue": "sample"
		},
		"trigger1_properties_pipeline3_parameters_snowflakewarehouse": {
			"type": "string",
			"defaultValue": "COMPUTE_WH"
		},
		"trigger1_properties_pipeline3_parameters_snowflakeschema": {
			"type": "string",
			"defaultValue": "sampleschema"
		},
		"trigger1_properties_pipeline3_parameters_snowflakeusername": {
			"type": "string",
			"defaultValue": "amounika523"
		},
		"trigger1_properties_pipeline3_parameters_snowflakepassword": {
			"type": "string",
			"defaultValue": "@Mounikarao1"
		},
		"trigger1_properties_pipeline3_parameters_snowflaketable": {
			"type": "string",
			"defaultValue": "CSVTEST"
		},
		"trigger1_properties_pipeline3_parameters_snowflakedatabase": {
			"type": "string",
			"defaultValue": "sample"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Validation1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeV2Sink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Failed"
								]
							},
							{
								"activity": "Validation1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": "Failed due to some issue",
							"errorCode": "404"
						}
					},
					{
						"name": "Validation1",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "0.12:00:00",
							"sleep": 10,
							"minimumSize": 10
						}
					},
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/avirinenimounika@outlook.com/Untitled Notebook 2024-03-12 20:29:51"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable1')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Filepath",
								"value": "/mnt/FirstCSV"
							}
						],
						"typeProperties": {
							"notebookPath": "/Users/avirinenimounika@outlook.com/Blobstoragetosnowflake",
							"baseParameters": {
								"Filepath": {
									"value": "@pipeline().parameters.Filename",
									"type": "Expression"
								},
								"snowflakeurl": {
									"value": "@pipeline().parameters.snowflakeurl",
									"type": "Expression"
								},
								"snowflakedatabase": {
									"value": "@pipeline().parameters.snowflakedatabase",
									"type": "Expression"
								},
								"snowflakewarehouse": {
									"value": "@pipeline().parameters.snowflakewarehouse",
									"type": "Expression"
								},
								"snowflakeschema": {
									"value": "@pipeline().parameters.snowflakeschema",
									"type": "Expression"
								},
								"snowflakeusername": {
									"value": "@pipeline().parameters.snowflakeusername",
									"type": "Expression"
								},
								"snowflakepassword": {
									"value": "@pipeline().parameters.snowflakepassword",
									"type": "Expression"
								},
								"snowflaketable": {
									"value": "@pipeline().parameters.snowflaketable",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks2",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Filename": {
						"type": "String",
						"defaultValue": "/mnt/FirstCSV"
					},
					"snowflakeurl": {
						"type": "String",
						"defaultValue": "https://pxdbery-lz43792.snowflakecomputing.com"
					},
					"snowflakedatabse": {
						"type": "String"
					},
					"snowflakewarehouse": {
						"type": "String"
					},
					"snowflakeschema": {
						"type": "String"
					},
					"snowflakeusername": {
						"type": "String"
					},
					"snowflakepassword": {
						"type": "String"
					},
					"snowflaketable": {
						"type": "String"
					},
					"snowflakedatabase": {
						"type": "String",
						"defaultValue": "sample"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksDeltaLakeDataset1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDatabricksDeltaLake1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureDatabricksDeltaLakeDataset",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricksDeltaLake1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Temp.csv",
						"container": "samplecontainer"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\r\n",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Username",
						"type": "String"
					},
					{
						"name": "Password",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Phone",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "firstcontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [
					{
						"name": "DATABASE_NAME",
						"type": "VARCHAR"
					},
					{
						"name": "DATABASE_OWNER",
						"type": "VARCHAR"
					},
					{
						"name": "IS_TRANSIENT",
						"type": "VARCHAR"
					},
					{
						"name": "COMMENT",
						"type": "VARCHAR"
					},
					{
						"name": "CREATED",
						"type": "TIMESTAMP_LTZ"
					},
					{
						"name": "LAST_ALTERED",
						"type": "TIMESTAMP_LTZ"
					},
					{
						"name": "RETENTION_TIME",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "TYPE",
						"type": "VARCHAR"
					}
				],
				"typeProperties": {
					"schema": "INFORMATION_SCHEMA",
					"table": "DATABASES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeV2Table",
				"schema": [
					{
						"name": "RANK",
						"type": "VARCHAR"
					},
					{
						"name": "ITY",
						"type": "VARCHAR"
					},
					{
						"name": "STATE",
						"type": "VARCHAR"
					},
					{
						"name": "CODE",
						"type": "VARCHAR"
					},
					{
						"name": "POPULATION",
						"type": "VARCHAR"
					},
					{
						"name": "PRICE",
						"type": "VARCHAR"
					}
				],
				"typeProperties": {
					"schema": "SAMPLESCHEMA",
					"table": "TEST"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('AzureBlobStorage1_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5276038298476878.18.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-5276038298476878.18.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks2_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks2_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricksDeltaLake1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricksDeltaLake",
				"typeProperties": {
					"domain": "https://adb-5276038298476878.18.azuredatabricks.net",
					"clusterId": "0312-064506-zp6p1lu7",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricksDeltaLake1_accessToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('BlobStorage_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SF')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"Accountname": {
						"type": "string",
						"defaultValue": "PXDBERY-LZ43792"
					},
					"Database": {
						"type": "string"
					},
					"Warehouse": {
						"type": "string"
					},
					"Username": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "@{linkedService().Accountname}",
					"user": "@{linkedService().Username}",
					"database": "[parameters('SF_properties_typeProperties_database')]",
					"warehouse": "@{linkedService().Warehouse}",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SF_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "pxdbery-lz43792",
					"user": "amounika523",
					"database": "[parameters('Snowflake1_properties_typeProperties_database')]",
					"warehouse": "COMPUTE_WH",
					"role": "AccountAdmin",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Snowflake1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SnowflakeV2",
				"typeProperties": {
					"authenticationType": "Basic",
					"accountIdentifier": "PXDBERY-LZ43792",
					"user": "amounika523",
					"database": "[parameters('Snowflake2_properties_typeProperties_database')]",
					"warehouse": "COMPUTE_WH",
					"role": "AccountAdmin",
					"password": {
						"type": "SecureString",
						"value": "[parameters('Snowflake2_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Airflow1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Airflow",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"computeSize": "Large",
						"extraNodes": 1,
						"enableAutoscale": false
					},
					"airflowProperties": {
						"airflowVersion": "2.6.3",
						"airflowEnvironmentVariables": null,
						"airflowRequirements": [],
						"enableAADIntegration": false,
						"enableTriggerers": false,
						"userName": "amounika523@gmail.com",
						"password": null,
						"airflowEntityReferences": [],
						"encryptedSecrets": [],
						"secrets": null
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline3",
							"type": "PipelineReference"
						},
						"parameters": {
							"Filename": "[parameters('trigger1_properties_pipeline3_parameters_Filename')]",
							"snowflakeurl": "[parameters('trigger1_properties_pipeline3_parameters_snowflakeurl')]",
							"snowflakedatabse": "[parameters('trigger1_properties_pipeline3_parameters_snowflakedatabse')]",
							"snowflakewarehouse": "[parameters('trigger1_properties_pipeline3_parameters_snowflakewarehouse')]",
							"snowflakeschema": "[parameters('trigger1_properties_pipeline3_parameters_snowflakeschema')]",
							"snowflakeusername": "[parameters('trigger1_properties_pipeline3_parameters_snowflakeusername')]",
							"snowflakepassword": "[parameters('trigger1_properties_pipeline3_parameters_snowflakepassword')]",
							"snowflaketable": "[parameters('trigger1_properties_pipeline3_parameters_snowflaketable')]",
							"snowflakedatabase": "[parameters('trigger1_properties_pipeline3_parameters_snowflakedatabase')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2024-03-17T07:07:00",
						"endTime": "2024-03-17T07:10:00",
						"timeZone": "Central Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline3')]"
			]
		}
	]
}